.App {    
    text-align: center;    
  }    
  .navheader{    
    margin-top: 10px;    
    color :black !important;    
    background-color: #b3beca!important    
  }    

  /* "start:local": ".env-cmd -f env.local react-scripts start",
  "start:prod": ".env-cmd -f env.prod react-scripts start",
  "build:local": ".env-cmd -f env.local react-scripts start",
  "build:prod": ".env-cmd -f env.prod react-scripts start", */


  /* .env.local     REACT_APP_ENV=local */